 body {
      font-family: 'Arial', sans-serif;
      background: #f12c00;
      margin: 0;
      padding-top: 10px; /* Reduced top padding */
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    h1 {
      color: #000000;
      font-size: 22px;
      margin: 5px 0;
    }
    #score {
      font-size: 18px;
      color: #000000;
      margin-bottom: 5px;
    }
    canvas {
      background:#ffc187;
      border-radius: 10px;
    }
    #gameOver {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #dea866e6;
      color: white;
      padding: 20px;
      text-align: center;
      border-radius: 10px;
      display: none;
    }
    #startOverlay {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      background:#c2914ee6;
      padding: 30px;
      border-radius: 10px;
    }
    #startOverlay h2, #startOverlay p {
      color: #1b1206e6;
    }